
#header nav li1 {
	-moz-animation: nav-icons 0.5s ease-in-out forwards;
	-webkit-animation: nav-icons 0.5s ease-in-out forwards;
	-o-animation: nav-icons 0.5s ease-in-out forwards;
	-ms-animation: nav-icons 0.5s ease-in-out forwards;
	animation: nav-icons 0.5s ease-in-out forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	display: inline-block;
	height: 2em;
	line-height: 2em;
	opacity: 0;
	position: relative;
	top: 0px;
	width: 6.50em;
	
}
.header {
  -moz-animation: header 1s 2.25s forwards;
  -webkit-animation: header 1s 2.25s forwards;
  -o-animation: header 1s 2.25s forwards;
  -ms-animation: header 1s 2.25s forwards;
  animation: header 1s 2.25s forwards;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  cursor: default;
  display: inline-block;
  opacity: 0;
  position: relative;
  text-align: center;
  top: -1em;
  vertical-align: middle;
  width: 100%;
}
.left-right{
	text-align:center;
 height: 2.35em !important;
 }
.scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 35px;
  overflow-y: scroll;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
header {
	height: 360px;
	z-index: 10;
}
.header-banner {
	background-color: #333;
	background-image: url('http://37.media.tumblr.com/8b4969985e84b2aa1ac8d3449475f1af/tumblr_n3iftvUesn1snvqtdo1_1280.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 300px;
}
header .logo {
	background-color: transparent;
	background-image: url('http://www.futhead.com/static//img/14/clubs/1887.png');
	background-position: center top;
	background-repeat: no-repeat;
	position: absolute;
	top: 72px;
	height: 256px;
	width: 256px;
}
/*
header h1 {
  position: absolute;
  top: 72px; 
  left: 240px;
  color: #fff;
}*/

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
nav {
	width: 100%;
	height: 60px;
	
	postion: fixed;
	z-index: 10;
}
nav ul {
	list-style-type: none;
	margin: 0 auto;
	padding-left: 0;
	text-align: right;
	width: 960px;
	max-width: 100%;
}
nav ul li {
	display: inline-block;
	line-height: 60px;
	margin-left: 10px;
}
nav ul li a {
	text-decoration: none;
	color: #a9abae;
}
/* demo */
.content {
	width: 960px;
	max-width: 100%;
	margin: 70px 100px 0 100px;
	padding-top: 60px;
}
article {
	width: 720px;
	float: left;
}
article p:first-of-type {
	margin-top: 0;
}
aside {
	width: 120px;
	float: right;
}
aside img {
	max-width: 100%;
}
body {
	font-family: helvetica;
	line-height: 1.6;
}
/* resets */
body {
	margin: 0px;
	padding: 0px;
}

.he
{
	height: 2.35em !important;	
}
/* About */

.fotterbg
{
	background-color:black !important; 
	width:100%; 
	margin-top:-10px;
}

