/*
	Aerial by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");
/* Basic */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto" sans serif;
}

body, input, select, textarea {
	color: white;
	
	font-size: 15pt;
	font-weight: 300 !important;
	letter-spacing: -0.025em;
	line-height: 1.75em;
	font-family: 'Dosis', sans-serif;}
body {
	background: #F90;
	

}
body.loading * {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}
a {
	-moz-transition: border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-o-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	/*border-bottom: dotted 1px;*/
	color: Black;
	outline: 0;
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
}
a:hover {
	border-color: transparent;
	color: #F90;
	font-family: 'Dosis', sans-serif;
	
}
/* Icon */

.icon {
	position: relative;
	
}
.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
	
}
.icon > .label {
	font-size:20px;
	
}

/* Wrapper */
	@-moz-keyframes wrapper {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
 @-webkit-keyframes wrapper {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
 @-o-keyframes wrapper {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
 @-ms-keyframes wrapper {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
 @keyframes wrapper {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
#wrapper {
	-moz-animation: wrapper 0.3s forwards;
	-webkit-animation: wrapper 0.3s forwards;
	-o-animation: wrapper 0.3s forwards;
	-ms-animation: wrapper 0.3s forwards;
	animation: wrapper 0.3s forwards;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
/* BG */

#bg {
	-moz-animation: bg 0.6s linear infinite;
	-webkit-animation: bg 0.6s linear infinite;
	-o-animation: bg 0.6s linear infinite;
	-ms-animation: bg 0.6s linear infinite;
	animation: bg 0.6s linear infinite;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	/* Set your background with this */
	background:#FFCC99 /* url("images/bg.png")*/ bottom left;
	background-repeat: repeat-x;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
}

 @-moz-keyframes bg {
0% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
100% {
-moz-transform: translate3d(-2250px, 0, 0);
-webkit-transform: translate3d(-2250px, 0, 0);
-o-transform: translate3d(-2250px, 0, 0);
-ms-transform: translate3d(-2250px, 0, 0);
transform: translate3d(-2250px, 0, 0);
}
}
 @-webkit-keyframes bg {
0% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
100% {
-moz-transform: translate3d(-2250px, 0, 0);
-webkit-transform: translate3d(-2250px, 0, 0);
-o-transform: translate3d(-2250px, 0, 0);
-ms-transform: translate3d(-2250px, 0, 0);
transform: translate3d(-2250px, 0, 0);
}
}
 @-o-keyframes bg {
0% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
100% {
-moz-transform: translate3d(-2250px, 0, 0);
-webkit-transform: translate3d(-2250px, 0, 0);
-o-transform: translate3d(-2250px, 0, 0);
-ms-transform: translate3d(-2250px, 0, 0);
transform: translate3d(-2250px, 0, 0);
}
}
 @-ms-keyframes bg {
0% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
100% {
-moz-transform: translate3d(-2250px, 0, 0);
-webkit-transform: translate3d(-2250px, 0, 0);
-o-transform: translate3d(-2250px, 0, 0);
-ms-transform: translate3d(-2250px, 0, 0);
transform: translate3d(-2250px, 0, 0);
}
}
 @keyframes bg {
0% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
100% {
-moz-transform: translate3d(-2250px, 0, 0);
-webkit-transform: translate3d(-2250px, 0, 0);
-o-transform: translate3d(-2250px, 0, 0);
-ms-transform: translate3d(-2250px, 0, 0);
transform: translate3d(-2250px, 0, 0);
}
}
#bg {
	background-size: 2250px auto;
	width: 6750px;
}

/* Overlay */
	@-moz-keyframes overlay {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
 @-webkit-keyframes overlay {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
 @-o-keyframes overlay {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
 @-ms-keyframes overlay {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
 @keyframes overlay {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
#overlay {
	-moz-animation: overlay 0.5s 0.5s forwards;
	-webkit-animation: overlay 0.5s 0.5s forwards;
	-o-animation: overlay 0.5s 0.5s forwards;
	-ms-animation: overlay 0.5s 0.5s forwards;
	animation: overlay 0.5s 0.5s forwards;
	background-attachment: fixed, fixed;
	background-image: url("images/overlay-pattern.png"), url("images/overlay.svg");
	background-position: top left, center center;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
/* Main */

#main {
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}
#main:before {
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: 0;
	vertical-align: middle;
	width: 1px;
}

/* Header */
	@-moz-keyframes header {
0% {
-moz-transform: translate3d(0, 1em, 0);
-webkit-transform: translate3d(0, 1em, 0);
-o-transform: translate3d(0, 1em, 0);
-ms-transform: translate3d(0, 1em, 0);
transform: translate3d(0, 1em, 0);
opacity: 0;
}
100% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
 @-webkit-keyframes header {
0% {
-moz-transform: translate3d(0, 1em, 0);
-webkit-transform: translate3d(0, 1em, 0);
-o-transform: translate3d(0, 1em, 0);
-ms-transform: translate3d(0, 1em, 0);
transform: translate3d(0, 1em, 0);
opacity: 0;
}
100% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
 @-o-keyframes header {
0% {
-moz-transform: translate3d(0, 1em, 0);
-webkit-transform: translate3d(0, 1em, 0);
-o-transform: translate3d(0, 1em, 0);
-ms-transform: translate3d(0, 1em, 0);
transform: translate3d(0, 1em, 0);
opacity: 0;
}
100% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
 @-ms-keyframes header {
0% {
-moz-transform: translate3d(0, 1em, 0);
-webkit-transform: translate3d(0, 1em, 0);
-o-transform: translate3d(0, 1em, 0);
-ms-transform: translate3d(0, 1em, 0);
transform: translate3d(0, 1em, 0);
opacity: 0;
}
100% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
 @keyframes header {
0% {
-moz-transform: translate3d(0, 1em, 0);
-webkit-transform: translate3d(0, 1em, 0);
-o-transform: translate3d(0, 1em, 0);
-ms-transform: translate3d(0, 1em, 0);
transform: translate3d(0, 1em, 0);
opacity: 0;
}
100% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
 @-moz-keyframes nav-icons {
0% {
-moz-transform: translate3d(0, 1em, 0);
-webkit-transform: translate3d(0, 1em, 0);
-o-transform: translate3d(0, 1em, 0);
-ms-transform: translate3d(0, 1em, 0);
transform: translate3d(0, 1em, 0);
opacity: 0;
}
100% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
 @-webkit-keyframes nav-icons {
0% {
-moz-transform: translate3d(0, 1em, 0);
-webkit-transform: translate3d(0, 1em, 0);
-o-transform: translate3d(0, 1em, 0);
-ms-transform: translate3d(0, 1em, 0);
transform: translate3d(0, 1em, 0);
opacity: 0;
}
100% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
 @-o-keyframes nav-icons {
0% {
-moz-transform: translate3d(0, 1em, 0);
-webkit-transform: translate3d(0, 1em, 0);
-o-transform: translate3d(0, 1em, 0);
-ms-transform: translate3d(0, 1em, 0);
transform: translate3d(0, 1em, 0);
opacity: 0;
}
100% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
 @-ms-keyframes nav-icons {
0% {
-moz-transform: translate3d(0, 1em, 0);
-webkit-transform: translate3d(0, 1em, 0);
-o-transform: translate3d(0, 1em, 0);
-ms-transform: translate3d(0, 1em, 0);
transform: translate3d(0, 1em, 0);
opacity: 0;
}
100% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
 @keyframes nav-icons {
0% {
-moz-transform: translate3d(0, 1em, 0);
-webkit-transform: translate3d(0, 1em, 0);
-o-transform: translate3d(0, 1em, 0);
-ms-transform: translate3d(0, 1em, 0);
transform: translate3d(0, 1em, 0);
opacity: 0;
}
100% {
-moz-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
#header {
	-moz-animation: header 0.5s 0.25s forwards;
	-webkit-animation: header 0.5s 0.25s forwards;
	-o-animation: header 0.5s 0.25s forwards;
	-ms-animation: header 0.5s 0.25s forwards;
	animation: header 0.5s 0.25s forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	cursor: default;
	display: inline-block;
	opacity: 0;
	position: relative;
	text-align: center;
	top: -1em;
	vertical-align: middle;
	width: 90%;
}
#header h1 {
	font-size: 4.35em;
	font-weight: 900;
	letter-spacing: -0.035em;
	line-height: 1em;
	margin-left:280px;
}
#header p {
	font-size: 1.25em;
	margin: 0.75em 0 0.25em 0;
	opacity: 0.75;
	color:black;
}
#header nav {
	margin: 0.5em 0 0 0;
}
#header nav li {
	-moz-animation: nav-icons 0.5s ease-in-out forwards;
	-webkit-animation: nav-icons 0.5s ease-in-out forwards;
	-o-animation: nav-icons 0.5s ease-in-out forwards;
	-ms-animation: nav-icons 0.5s ease-in-out forwards;
	animation: nav-icons 0.5s ease-in-out forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	display: inline-block;
	height: 5.35em;
	line-height: 1.885em;
	opacity: 0;
	position: relative;
	top: 0;
	width: 6.50em;
	font-family: 'Dosis', sans-serif;
	text-wrap:suppress;
	
	
}
	
#header nav li:nth-child(1) {
	-moz-animation-delay: 0.25s;
	-webkit-animation-delay: 0.25s;
	-o-animation-delay: 0.25s;
	-ms-animation-delay: 0.25s;
	animation-delay: 0.25s;
}
#header nav li:nth-child(2) {
	-moz-animation-delay: 0.50s;
	-webkit-animation-delay: 0.50s;
	-o-animation-delay: 0.50s;
	-ms-animation-delay: 0.50s;
	animation-delay: 0.50s;
}
#header nav li:nth-child(3) {
	-moz-animation-delay: 0.75s;
	-webkit-animation-delay: 0.75s;
	-o-animation-delay: 0.75s;
	-ms-animation-delay: 0.75s;
	animation-delay: 0.75s;
}
#header nav li:nth-child(4) {
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
}
#header nav li:nth-child(5) {
	-moz-animation-delay: 1.25s;
	-webkit-animation-delay: 1.25s;
	-o-animation-delay: 1.25s;
	-ms-animation-delay: 1.25s;
	animation-delay: 1.25s;
}
#header nav li:nth-child(6) {
	-moz-animation-delay: 1.50s;
	-webkit-animation-delay: 1.50s;
	-o-animation-delay: 1.50s;
	-ms-animation-delay: 1.50s;
	animation-delay: 1.50s;
}
#header nav li:nth-child(7) {
	-moz-animation-delay: 1.75s;
	-webkit-animation-delay:1.75s;
	-o-animation-delay: 1.75s;
	-ms-animation-delay: 1.75s;
	animation-delay: 1.75s;
}
#header nav li:nth-child(8) {
	-moz-animation-delay:2s;
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}
#header nav li:nth-child(9) {
	-moz-animation-delay:2.25s;
	-webkit-animation-delay: 2.25s;
	-o-animation-delay: 2.25s;
	-ms-animation-delay: 2.25s;
	animation-delay: 2.25s;
}
#header nav li:nth-child(10) {
	-moz-animation-delay: 2.50s;
	-webkit-animation-delay: 2.50s;
	-o-animation-delay: 2.50s;
	-ms-animation-delay: 2.50s;
	animation-delay: 2.50s;
}
#header nav a {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	border: 0;
	display: inline-block;
	color: #999;
	font-family: 'Dosis', sans-serif;
	
}
#header nav a:before {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 1px #FF9900;
	display: block;
	font-size: 1.75em;
	height: 2.5em;
	line-height: 2.5em;
	position: relative;
	text-align: center;
	top:0;
	width: 2.5em;
}

#header nav a:hover {
	font-size: 1.1em;
	color:black;
	
}
#header nav a:hover:before {
	background-color: rgba(255, 255, 255, 0.175);
	color: #FF9900;
}
#header nav a:active {
	font-size: 0.95em;
	background: none;
}
#header nav a:active:before {
	background-color: rgba(255, 255, 255, 0.35);
	color: white;
}
#header nav a span {
	color: #000;
	font-family: 'Dosis', sans-serif;
	
}
#header nav a span:hover {
	color: #FF9900;
}
/* Footer */

#footer {
	/*background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);*/
	bottom: 0;
	cursor: default;
	height: 3em;
	left: 0;
	line-height:3em;
/*	position: absolute;
*/	text-align: center;
	width:auto;
	font-family: 'Dosis', sans-serif;
	color:black;
}
.social
{
	margin-top:-250px;
	font-size:10px;
	margin-right:-30px;
}
.social1
{
	margin-top:0px;
  font-size: 7px;
  margin-right: 25px;
}
.wrapper
	{
		
		
	}

		.wrapper.first
		{
			box-shadow: none;
		}

		.wrapper.style1
		{
			background-image: none;
			background-color: #fff;
		}
		
		.wrapper.style2
		{
			background-color: #fafafa;
			text-shadow: 1px 1px 0px #fff;
		}
		
		.wrapper.style3
		{
			
			text-shadow: 1px 1px 0px #fff;
		}

		.wrapper.style4
		{
			background-color: #303030;
			color: #999;
			text-shadow: -1px -1px 0px #181818;
		}

			.wrapper.style4 h1, 
			.wrapper.style4 h2, 
			.wrapper.style4 h3, 
			.wrapper.style4 h4, 
			.wrapper.style4 h5, 
			.wrapper.style4 h6
			{
				color: #000;
			}

			.wrapper.style4 form input[type=text],
			.wrapper.style4 form input[type=password],
			.wrapper.style4 form select,
			.wrapper.style4 form textarea
			{
				border: none;
				background: #282828;
			}

			.wrapper.style4 form input[type=text]:focus,
			.wrapper.style4 form input[type=password]:focus,
			.wrapper.style4 form select:focus,
			.wrapper.style4 form textarea:focus
			{
				background: #252525;
			}
		.box
		{
			background: #fff;
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 2px 3px 0px rgba(0,0,0,0.1);
			text-align: center;
		}

